<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="header-left">
        Rappel
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="A">
      <div class="A1">
        <div class="todo1">
          <ion-list>
            <ion-item-sliding  *ngFor="let task of tasks">
              <ion-item (click)="gotoTask(task)" >
                <ion-label> <a > {{task.title}}</a></ion-label>
              </ion-item>
              <ion-item-options side="end">
                <button ion-button color="danger" (click)="removeTask(task.id)">Did</button>
              </ion-item-options>
            </ion-item-sliding>

          </ion-list>
        </div>
      </div>
    </div>
      <ion-fab horizontal="center" vertical="bottom" slot="fixed" class="fab-horizontal-end fab-vertical-bottom hydrated">
        <ion-fab-button (click)="gotoNewTask()" color="danger" class="ion-color ion-color-danger ion-activatable hydrated">
          <ion-icon name="add" role="img" class="hydrated" aria-label="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

</ion-content>
