<ion-header>
  <ion-buttons slot="start"> <ion-back-button defaultHref="home"></ion-back-button> </ion-buttons>
  <ion-toolbar>
    <ion-title>newtask</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="" style="text-align:right">
    <button ion-button block (click)="saveTask()">Save</button>
  </div>

  <ion-list>
    <ion-item>
      <ion-label> {{task.title}} </ion-label>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="titre ..." [(ngModel)]="task.title"> </ion-input>
    </ion-item>

    <ion-item>
      {{task | json}}
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="description ..." [(ngModel)]="task.description"> </ion-input>
    </ion-item>

    <ion-list>
      <ion-radio-group [(ngModel)]="task.type">

        <ion-item>
          <ion-label>Anniversaire</ion-label>
          <ion-radio slot="start" value="anniversaire"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Sport</ion-label>
          <ion-radio slot="start" value="sport"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Course</ion-label>
          <ion-radio slot="start" value="course"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>


    <ion-item *ngIf="task.type == 'anniversaire'">
      <ion-datetime  #calendar1 placeholder="JJ/MM/AAAA" displayFormat="DD/MM/YYYY" max="{{date.toISOString()}}" [(ngModel)]="task.duedate"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="task.type != 'anniversaire'">
      <ion-datetime  #calendar2 placeholder="JJ/MM/AAAA HH:mm" displayFormat="DD/MM/YYYY HH:mm" min="{{date.toISOString()}}" [(ngModel)]="task.duedate"></ion-datetime>
    </ion-item>


  </ion-list>
</ion-content>
